.cp-layouts-agentic {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;

  &__sidebar {
    height: 100vh;
    min-width: 0;
    overflow: hidden;
    border-right: 1px solid var(--ui-border);
  }

  &__content {
    height: 100vh;
    min-width: 0;
  }
}
