/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/spec/dummy/log/*.log
/spec/dummy/storage/
/spec/dummy/tmp/
/test/dummy/log/
/test/dummy/tmp/
/test/dummy/storage/
/test/dummy/db/*.sqlite3
*.gem
.DS_Store
node_modules
