<div class="overflow-x-auto">
  <table class="<%= table_classes %>" <%= "id=\"#{id}\"" if id %>>
    <%= header if header? %>
    <tbody class="bg-white divide-y divide-gray-200">
      <% rows.each do |row| %>
        <%= row %>
      <% end %>
    </tbody>
  </table>
</div>