<div class="cp-conversation-streaming">
  <div class="cp-conversation-streaming__container">
    <div class="cp-conversation-streaming__row">
      <div class="cp-conversation-streaming__avatar-wrapper">
        <div class="cp-conversation-streaming__avatar <%= avatar_class %>">
          <%= avatar_label %>
        </div>
      </div>
      <div class="cp-conversation-streaming__content">
        <div class="cp-conversation-streaming__label">
          <%= label %>
        </div>
        <div class="cp-conversation-streaming__dots">
          <div class="cp-conversation-streaming__dot" style="animation-delay: 0ms;"></div>
          <div class="cp-conversation-streaming__dot" style="animation-delay: 150ms;"></div>
          <div class="cp-conversation-streaming__dot" style="animation-delay: 300ms;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
