<div class="p-6">
  <div class="flex items-center justify-center flex-col border border-dashed border-stone-300 rounded-lg p-6 min-h-[300px]">
    <div class="flex items-center justify-center flex-col space-y-4">
      <% if title %>
        <div class="font-bold text-xl"><%= title %></div>
      <% end %>
      <div>
        <%= content %>
      </div>
    </div>
  </div>
</div>