/* Input Password */
.cp-input-password {
}

.cp-input-password__toggle {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.25rem;
  color: var(--ui-muted-foreground);
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: var(--ui-radius-sm);
}

.cp-input-password__toggle:hover {
  color: var(--ui-foreground);
}

.cp-input-password__toggle-icon {
  width: 1rem;
  height: 1rem;
}
