/* =============================================================================
   Aeno - Base (non-theme)
   ============================================================================= */

:root {
  /* Spacing */
  --ui-spacing: 1rem;

  /* Radius */
  --ui-radius-sm: 0.25rem;
  --ui-radius: 0.375rem;
  --ui-radius-md: 0.5rem;
  --ui-radius-lg: 0.75rem;
}

html {
  color: var(--ui-foreground);
  background-color: var(--ui-background);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

button,
a,
input[type="submit"],
select,
option,
[role="menuitem"],
[data-slot="command-item"] {
  cursor: pointer !important;
}

button {
  text-align: left;
}

*::-webkit-scrollbar {
  display: none;
}
