<div class="<%= classes %>">
  <div>
    <%= ui("button",
           label: label,
           icon: "chevron-down",
           variant: button_variant,
           size: button_size,
           data: { "dropdown-menu-toggle": "" }) %>
  </div>

  <div class="hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-10"
       role="menu"
       aria-orientation="vertical">
    <div class="py-1">
      <% if groups.any? %>
        <% groups.each do |group| %>
          <%= group %>
        <% end %>
      <% else %>
        <% options.each do |option| %>
          <%= option %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>